<div class="menu">
	<ul>
		<li class="logoLi"><img class="logo" src="/images/logo.png"></li>
		<li><a href="main">Главная</a></li>
		<li><a href="contacts">Контакты</a></li>
		<li><a href="cabinet">Кабинет</a></li>
	</ul>
</div>