<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="views/styles.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Торты</title>
	<%- include("views/menu.ejs") %>
</head>
<body>
	<h1>Торты</h1>
</body>
</html>
<%- include("views/copyright.ejs") %>